<head>

    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />

    <script src="https://cdn.plyr.io/3.7.2/plyr.polyfilled.js"></script>
</head>

<script type="text/javascript">

    const player = new Plyr('audio', {

        controls: [
            'restart', // Restart playback
            'rewind', // Rewind by the seek time (default 10 seconds)
            'play', // Play/pause playback
            'fast-forward', // Fast forward by the seek time (default 10 seconds)
            'progress', // The progress bar and scrubber for playback and buffering
            'current-time', // The current time of playback
            'duration', // The full duration of the media
            'mute', // Toggle mute
            'volume', // Volume control
            'settings', // Settings menu
            'download', // Show a download button with a link to either the current source or a custom URL you specify in your options
        ],
    });
        
        // Expose player so it can be used from the console
    window.player = player;


</script>


<audio class="js-player">
    <source src="{{ include.audio }}" />
</audio>